/*
Theme Name: Eco Landing Page
Theme URI: ''
Author: Team Dhrubok
Author URI: ''
Description: ''
Version: 1.0.0
License: GNU General Public License
License URI: licensing/README_License.txt
Text Domain: ''
Tags: ''

*/

/*
    this is not main stylesheet, main stylesheet is "assets/css/main.css"
    note: you can override main stylesheet or everything from here!
*/


#headermia {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: white;
    border-bottom: 1px #485ff8 solid;
        box-shadow: -2px -9px 20px 0px black;
}

.eco--sec--title h1, .eco--sec--title--white h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    margin: 0;
}

.eco--home--area--1 {
background-color: transparent;
    min-height: 700px;
    overflow: hidden;
    background: url(background.jpg) no-repeat right top;
    background-size: 55%;
    height: 100vh;
}

.heronewsletter  {
	position: relative;
	margin-top: 10px;
}
.heronewsletter input {
    width: 100%;
    height: 65px;
    border-radius: 40px;
    border: 1px solid;
    text-indent: 40px;
    font-weight: 700;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.heronewsletter button {
	position: absolute;
    height: 57px;
    right: 4px;
    border-radius: 40px;
    top: 4px;
    background-color: #485ff8;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 0 30px;
    width: 200px;
    text-align: center;
    color: white;
}
.eco--newsletter--1 .eco--inner input {
    text-transform: none !important;
}

.eco--single--feature--1 {
    position: relative;
    padding-left: 60px;
}

.eco--single--feature--1 h3 {
    font-weight: 600;
    margin: 0 0 5px;
}

.response a {
    margin-top: 0px !important; 
}

.response {
    color: black;
    font-size: 12px;
    text-transform: none;
    line-height: 1.8;
    padding: 10px;
    opacity: 0.8;
}
#mce-responses2 .response {
    display: block !important; 
}

.green {
    color: green !important; 
}