.custom-checkbox{
    margin-top: 15px;
}
.wrapper-datarange-custom{
    bottom: -14rem !important;
}
.range-number-slider-reset-button.resett{
    margin: 0;
}
.date_filter>div{
    position: relative!important;
}
.ui-datepicker-trigger>img{
    opacity: 0;
}
.datepicker_from,.datepicker_to{
    /*padding-left: 30px;*/
    width: 100% !important;
    cursor: pointer;
    margin-bottom: 15px;
}

input.datepicker_to , input.datepicker_from{
    background: white url(/assets-landing/img/calander.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.block{
    padding-bottom: 30px;
}
#date-1,#date-2{
    position: relative;
}
.ui-datepicker-trigger{
    position: absolute;
    right: 0;
    padding-right: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding-left: 84%;
    outline: none !important;
    padding-top: 3px;
}
.yadcf-number-slider-filter-wrapper-inner{
    width: 50%;
    display: inline-block;
    margin: 0 15px;
}
.yadcf-filter-range-number-slider-min-tip-inner{
    position: absolute;
    top: 26px;
    font-size: 12px;
    padding-left: 10px;
}
.yadcf-filter-range-number-slider-min-tip-inner::after {
    content: '$';
    position: absolute;
    left: 0;
}
.yadcf-filter-range-number-slider-max-tip-inner{
    position: absolute;
    top: 40px;
    font-size: 12px;
    padding-left: 10px; 
}
.yadcf-filter-range-number-slider-max-tip-inner::after {
    content: '$';
    position: absolute;
    left: 0;
}
.title-top{
    vertical-align: baseline !important;
}
.filter-show{
    display: inherit;
}
.filter-hide{
    display: none;
}
.position-r{
    position: relative !important;
}
.padding-0{
    padding: 0 !important;
}
.border-n{
    border: none !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #000;
}
.select2-container--default{
    width:60% !important;
}


.title-head-wra{
    /*position: relative; ojo*/
}
.DataTables_sort_wrapper{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    width: max-content;
}
.ui-icon{
    display: inline-block;
}
.select2-container{
    /*vertical-align: top;*/
}
th:last-child, td:last-child {
    /*width: 15px !important;*/
    /*max-width: 15px !important;*/
}
td:last-child a.nomargin .material-icons {
    width: 15px !important; 
}
td:last-child a.nomargin {
    margin: 0px !important; 
    padding: 0px !important;
}
td {
    font-size: 13px;
}

.yadcf-filter-wrapper {
    display: block !important;
    visibility: hidden;
    opacity: 0;
    /*transition: visibility 0s, opacity 0.2s linear;*/
    width: 270px;
    position: absolute;
    z-index: 999;
    top: 100%;
    right: 0px; 
    background-color: #fbfbfb;
    padding: 15px 15px;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 11px;
}

.yadcf-filter-reset-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    margin-left: 5px;
    line-height: 36px;
    padding: 0 10px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.yadcf-filter-wrapper:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 93%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fbfbfb transparent;
}
table.dataTable tr.odd {
    background-color: #f9f9f9;
}

table.dataTable tr.even td.sorting_1 {
    background-color: #CECED052;
}
table.dataTable tr.odd td.sorting_1 {
    background-color: #A6A7B045;
}
.sorting,.sorting_asc ,.sorting_desc {
    background:transparent;
}
.table th {
    padding: 0.75rem ;
}

#yadcf-filter-wrapper--example-0{
    right: inherit;
}
/*Bottom*/
#yadcf-filter-wrapper--example-0:after{
    left: 38%;
}
table.dataTable td {
    padding: 0.75rem;
}
.select2-search__field{
    width: 100% !important;
}
.select2-search{
    width: 100% !important;
}
.dropdown-menu {
    min-width: auto;
}   
/*.yadcf-number-slider-filter-wrapper-inner .yadcf-filter-range-number-slider-max-tip-inner {
    position: absolute;
    top: 40px;
}*/
#yadcf-filter--example-4{
    width: 60%;
}
#example_previous{
    margin-right: 15px;
}
#example_next{
    margin-left: 15px;
}
.paginate_button{
    padding: 0 5px;
}

#example_filter>label>input{
    margin-left: 15px;
}
#example_info{
    margin-top: 15px;
}
#example_paginate{
    margin-top: 15px;
}
.paginate_button {
    cursor: pointer;
}
#example_length>label>select{
    width: 30% !important;
}
.yadcf-filter-wrapper {
    bottom: initial !important;
    padding: 25px 15px 35px 15px;
    transition: all 0.2s;
}




/*NUEVOOOOO*/
table>thead>tr th>*{
    display: block; 
    text-align: center; 
    margin-bottom: 15px;
}
table>thead>tr th {
    position: relative !important;
    min-width: 100px !important;
}
.copy-head,.copy-head>tr{
    border: none !important;
} 
.copy-head>tr th{
    padding: 0 !important;
    border: none !important;
    position: relative !important;
}
.wrap-actions-colum{
    width: 100%;
    margin: 15px 0;
}
.icon-search-column{ 
    /*cursor: default !important;*/
    height: 40%;
    width: 40px;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
} 
.show{
    /*display: inherit !important;*/
    transition: visibility 0s, opacity 0.2s;
    visibility: visible;
    opacity: 1;
}
.form-control{
    display: inline-block;
    width: 60%;
}
.yadcf-filter-range-number.yadcf-filter-range{
    width: 100% !important;
    display: block !important;
}
.yadcf-filter-wrapper-inner{
    border: none !important;
    display: block;
    margin-bottom:15px;
}
table.dataTable thead .sorting_asc:after,.sorting_desc:after,.sorting:after {
    content: '' !important;
}
table.dataTable thead .sorting_asc,.sorting_desc,.sorting { 
    background-position-x: 15px !important;
    background-position-y: 90% !important;
}
table.dataTable tbody th, table.dataTable tbody td:not(.child) { 
    padding: 1.5rem 0 !important;
    text-align: center;
}
table.dataTable span.highlight {
  background-color: #FFFF88;
  border-radius: 0.28571429rem;
}

table.dataTable span.column_highlight {
  background-color: #ffcc99;
  border-radius: 0.28571429rem;
}
/*seccion de opocions*/
.wrapp-options-filter{ 
    padding: 0; 
    max-width: 46px; 
    max-height:46px;
    overflow: hidden;
    /*transition: max-width .2s, max-height .1s !important;*/
}
.wrapp-options-filter.open-filter{  
    max-width: 1000px; 
    max-height: 1000px;
    transition: width 1.5s, height 2s;
    -webkit-box-shadow: 5px 10px 27px -3px rgba(191,185,191,1);
    -moz-box-shadow: 5px 10px 27px -3px rgba(191,185,191,1);
    box-shadow: 5px 10px 27px -3px rgba(191,185,191,1);
    border: 1px solid #4443433d; 
    transition: max-width .5s, max-height 1s ease-in-out !important;  
}
.wrapp-options-filter.open-filter:hover,.wrapp-options-filter.open-filter:active {
    background: inherit !important;
    color: black !important; 
    border: 1px solid #4443433d !important;
}  
.wrapp-options-filter>div:not(.clearfix){
    border-bottom: 1px solid #80808057;
    margin: 15px 30px;
    padding-bottom: 15px;
}
.wrapp-options-filter.open-filter div:last-child{
    border: none !important;
}  
.wrapp-options-filter> i {
    float: left !important;
    padding: 15px;
}
i.close-icon{
    padding: 20px 15px 15px 15px;
}
.wrapp-options-filter i.close-icon,.wrapp-options-filter.open-filter i.filter-icon{
    display: none;
} 
.wrapp-options-filter.open-filter i.close-icon{
    display: inherit;
} 
.tittle-option,.buttons-option{
    text-align: left;
    margin-top: 5px;
}
.buttons-option button {
    margin-left: 15px;
    margin-bottom: 10px;
}
.buttons-option button:first-child {
    margin-left: 0;
}
.dt-buttons{
    display: none !important;
}
.yadcf-filter-range-date {
    margin-bottom: 15px;
}
th{
    padding: 15px 5px !important;
}
tr th:first-child .yadcf-filter-wrapper{
    left: 0 !important;
}
tr th:first-child .yadcf-filter-wrapper:after{
    left:45% !important;
}
table.fixedHeader-floating .icon-search-column{
    opacity: 0;
    pointer-events: none;
}
table.fixedHeader-floating .yadcf-filter-wrapper{
    display: none !important;
} 
table .badge{
    padding: 10px;
    font-size: 10px;
}
table{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
th .title-head{
    cursor: move !important; /* fallback if grab cursor is unsupported */
    cursor: grab !important;
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
th .title-head:active {
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}
.block-options-dataTable{
    display: none;
}
.wrapp-options-filter .block-options-dataTable{
    display: block!important;
}
/*fin*/
@media (max-width: 600px) {
    .buttons-option button:first-child {
       margin-left: 15px;
    }
}