.custom-checkbox{
    margin-top: 15px;
}
.wrapper-datarange-custom{
    bottom: -14rem !important;
}
.range-number-slider-reset-button.resett{
    margin: 0;
}
.date_filter>div{
    position: relative!important;
}
.ui-datepicker-trigger>img{
    opacity: 0;
}
.datepicker_from,.datepicker_to{
    /*padding-left: 30px;*/
    width: 100% !important;
    cursor: pointer;
    margin-bottom: 15px;
}

input.datepicker_to , input.datepicker_from{
    background: white url(/assets-landing/img/calander.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.block{
    padding-bottom: 30px;
}
#date-1,#date-2{
    position: relative;
}
.ui-datepicker-trigger{
    position: absolute;
    right: 0;
    padding-right: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding-left: 84%;
    outline: none !important;
    padding-top: 3px;
}
.yadcf-number-slider-filter-wrapper-inner{
    width: 50%;
    display: inline-block;
    margin: 0 15px;
}
.yadcf-filter-range-number-slider-min-tip-inner{
    position: absolute;
    top: 26px;
    font-size: 12px;
    padding-left: 10px;
}
.yadcf-filter-range-number-slider-min-tip-inner::after {
    content: '$';
    position: absolute;
    left: 0;
}
.yadcf-filter-range-number-slider-max-tip-inner{
    position: absolute;
    top: 40px;
    font-size: 12px;
    padding-left: 10px; 
}
.yadcf-filter-range-number-slider-max-tip-inner::after {
    content: '$';
    position: absolute;
    left: 0;
}
.title-top{
    vertical-align: baseline !important;
}
.filter-show{
    display: inherit;
}
.filter-hide{
    display: none;
}
.position-r{
    position: relative !important;
}
.padding-0{
    padding: 0 !important;
}
.border-n{
    border: none !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #000;
}
.select2-container--default{
    width:60% !important;
}
.title-head{
    display: block; text-align: center; margin-bottom: 10px;
}
.title-head-wra{
    position: relative;
}
.DataTables_sort_wrapper{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    width: max-content;
}
.ui-icon{
    display: inline-block;
}
.select2-container{
    /*vertical-align: top;*/
}
th:last-child, td:last-child {
    /*width: 15px !important;*/
    /*max-width: 15px !important;*/
}
td:last-child a.nomargin .material-icons {
    width: 15px !important; 
}
td:last-child a.nomargin {
    margin: 0px !important; 
    padding: 0px !important;
}
td {
    font-size: 13px;
}
.icon-search{
/*    float: right; 
    margin-left: 15px;*/
    position: absolute;
    padding: 10px;
    top: -40px;
    right: 5px;
}
.yadcf-filter-wrapper {
    width: 270px;
    position: absolute;
    z-index: 999;
    bottom: -6rem;
    right: -6px;
    display: none;
    background-color: #fbfbfb;
    padding: 15px 15px;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 11px;
}

.yadcf-filter-reset-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    margin-left: 5px;
    line-height: 36px;
    padding: 0 10px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.yadcf-filter-wrapper:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 89%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fbfbfb transparent;
}
table.dataTable tr.odd {
    background-color: #f9f9f9;
}

table.dataTable tr.even td.sorting_1 {
    background-color: #CECED052;
}
table.dataTable tr.odd td.sorting_1 {
    background-color: #A6A7B045;
}
.sorting,.sorting_asc ,.sorting_desc {
    background:transparent;
}
.table th {
    padding: 0.75rem ;
}

#yadcf-filter-wrapper--example-0{
    right: inherit;
}
/*Bottom*/
#yadcf-filter-wrapper--example-0:after{
    left: 38%;
}
table.dataTable td {
    padding: 0.75rem;
}
.select2-search__field{
    width: 100% !important;
}
.select2-search{
    width: 100% !important;
}
.dropdown-menu {
    min-width: auto;
}   
/*.yadcf-number-slider-filter-wrapper-inner .yadcf-filter-range-number-slider-max-tip-inner {
    position: absolute;
    top: 40px;
}*/
#yadcf-filter--example-4{
    width: 60%;
}
#example_previous{
    margin-right: 15px;
}
#example_next{
    margin-left: 15px;
}
.paginate_button{
    padding: 0 5px;
}
.form-control{
    display: inline-block;
    width: 60%;
}
#example_filter>label>input{
    margin-left: 15px;
}
#example_info{
    margin-top: 15px;
}
#example_paginate{
    margin-top: 15px;
}
.paginate_button {
    cursor: pointer;
}
#example_length>label>select{
    width: 30% !important;
}
.yadcf-filter-wrapper {
    padding: 25px 15px 35px 15px;
}
